name: Deploy to Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: 165.227.175.252
          username: root
          key: ${{ secrets.GIT_PULL_ACCESS }}
          command_timeout: 60m
          script: |
            cd /root/pdf-table-extractor
            git pull origin main
            docker compose up -d --build
